@import "./bias/variables";
@import "./bias/common";
@import "./bias/placeholder";

// header style
.head-land {
  height: 100vh;
  background-image: url("../images/bg-header.jpg");
  background-size: cover;
  position: relative;
  #navbar {
    background-image: linear-gradient(
      to bottom,
      rgba(228, 134, 125, 1),
      rgba(236, 204, 131, 1)
    );
  }
  .navbar-nav {
    li > a {
      color: $white;
      text-transform: uppercase;
      &.active {
        border-bottom: 2px solid #fce38a;
        border-radius: 0;
        color: #fce38a;
        background-color: transparent;
      }
    }
  }
  .content::before {
    @extend %overLay;
    content: "";
    top: 0;
  }
  .content {
    @extend .main-title;
    .container > h2 {
      font-size: 4rem;
    }
    .container > h2:after {
      background-color: $white;
    }
  }
}
// our story style
.our-story {
  @extend %mainTitle;
  .product {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    @extend %overLay;
    top: 100%;
    transition: all 0.3s;
  }
  .product img {
    transition: all 0.3s;
  }
  .product:hover {
    .overlay {
      top: 0;
      transform: translate(-0.6rem, -0.6rem);
    }
    img {
      box-shadow: 0.6rem 0.6rem 0 #95e1d3;
      transform: translatey(-0.6rem);
    }
  }
  .sperator {
    background-color: $mainColor;
    .item {
      color: $white;
      span {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 3rem;
      }
      p {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
        color: $white;
      }
    }
  }
}
// services style
.services {
  @extend .main-title;
  .text {
    h3 {
      color: $black;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
    }
    p {
      color: $textColor;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      width: 24rem;
    }
  }
  .boxes-wrapper {
    .box:first-of-type {
      margin-bottom: 1rem;
      border-bottom: 1px solid #ddd;
    }
  }
  .devices {
    @extend .main-title;
    background-image: url("../images/unique-design/bg-unique-design.jpg");
    background-size: cover;
    .device {
      position: absolute;
      top: 78%;
      left: 68%;
      transform: translate(-50%, -50%);
    }
  }
  .other-service {
    @extend %mainTitle;
    .row .image,
    .row .text {
      max-height: 22rem;
    }
    .row .text {
      overflow-y: auto;
    }
  }
  .testimonials {
    background-color: $splite;
    @extend %testimonials;
  }
  .our-team {
    @extend .our-story;
    .product:hover {
      img {
        transform: translate(-0.6rem, -0.6rem);
      }
    }
    .overlay span {
      background-color: rgba(236, 204, 131, 1);
      color: rgba(228, 134, 125, 1);
      cursor: pointer;
      &:hover {
        background-color: rgba(228, 134, 125, 1);
        color: $white;
      }
    }
  }
  .brands {
    background-color: $splite;
  }
}
// work style
.work {
  @extend .our-story;
  .product:hover {
    img {
      transform: translate(-0.6rem, -0.6rem);
    }
  }
  .testimonials-two {
    @extend %testimonials;
  }
  .happy-client {
    @extend .main-title;
    background-image: url("../images/happy-client/bg-happy-client.jpg");
    background-size: cover;
    .info h3 {
      font-family: "Roboto", sans-serif;
    }
    .info p:first-of-type {
      position: relative;
      &::after {
        content: "";
        width: 5rem;
        height: 0.2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $lineColor;
      }
    }
  }
}
// blog style
.blog {
  @extend .main-title;
  .poster__blog div {
    background-color: $mainColor;
    width: 4rem;
    height: 4.8rem;
    position: absolute;
    top: 55%;
    left: -1rem;
    span {
      height: 35%;
    }
  }
  .static__blog span svg {
    color: $mainColor;
  }
  .map {
    background-image: url("../images/map/bg-map.jpg");
    background-size: cover;
    .map-icon {
      color: $lineColor;
      p {
        position: relative;
        &::after {
          content: "";
          width: 5rem;
          height: 0.2rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          background-color: $lineColor;
          transform: translateX(-50%);
        }
      }
    }
  }
}
// contact style
.contact {
  background-color: $splite;
  span i {
    color: $mainColor;
  }
  input {
    outline: none;
  }
  button {
    background-color: $mainColor;
    color: $white;
  }
  p span {
    color: $lineColor;
  }
}
