@import "./bias/variables";
@import "./bias/common";
@import "./bias/placeholder";

// header style
.head-land {
  height: 100vh;
  background-image: url("../images/bg-header.jpg");
  background-size: cover;
  position: relative;
  #navbar {
    background-image: linear-gradient(
      to bottom,
      rgba(228, 134, 125, 1),
      rgba(236, 204, 131, 1)
    );
  }
  .nav-pills {
    li > a {
      color: $white;
      text-transform: uppercase;
      &.active {
        border-bottom: 2px solid #fce38a;
        border-radius: 0;
        color: #fce38a;
        background-color: transparent;
      }
    }
  }
  .content::before {
    @extend %overLay;
    content: "";
    top: 0;
  }
  .content {
    @extend .main-title;
    .container > h2 {
      font-size: 4rem;
    }
    .container > h2:after {
      background-color: $white;
    }
  }
}
// our story style
.our-story {
  @extend .main-title;
  .container > p {
    color: $textColor;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
  }
  .product {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    @extend %overLay;
    top: 100%;
    transition: all 0.3s;
  }
  .product img {
    transition: all 0.3s;
  }
  .product:hover .overlay {
    top: 0;
    transform: translate(-0.6rem, -0.6rem);
  }
  .product:hover {
    img {
      box-shadow: 0.6rem 0.6rem 0 #95e1d3;
      transform: translateY(-0.6rem);
    }
  }
  .sperator {
    background-color: $mainColor;
    .item {
      color: $white;
      span {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 3rem;
      }
      p {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
}
// services style
.services {
  @extend .main-title;
  .text {
    h3 {
      color: $black;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
    }
    p {
      color: $textColor;
      font-size: 1.2rem;
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      width: 24rem;
    }
  }
  .boxes-wrapper {
    .box:first-of-type {
      margin-bottom: 1rem;
      border-bottom: 1px solid #ddd;
    }
  }
  .devices {
    @extend .main-title;
    background-image: url("../images/unique-design/bg-unique-design.jpg");
    background-size: cover;
    .device {
      position: absolute;
      top: 80%;
      left: 65%;
      transform: translate(-50%, -50%);
    }
  }
}
// devices style
