// colors
$mainColor: #95e1d3;
$textColor: #c5c5c5;
$headColor: #333333;
$lineColor: #f38181;
$white: #fff;
$black: #000;
$linear: linear-gradient(
  to bottom,
  rgba(228, 134, 125, 1),
  rgba(228, 134, 125, 0.5),
  rgba(236, 204, 131, 0.5),
  rgba(236, 204, 131, 1)
);
